#movies
  #search-box
    +outer-container

    input
      font-size: 28px
      padding: 4px 8px
      text-align: center

    #search-status
      @extend %label
      +fade-in

  .search-result
    +outer-container
    +fade-in
    @extend %box
    margin-top: 4px
    height: 90px

    &:hover
      cursor: pointer
      border-color: $green
      opacity: 1
      background-color: $light-green

    .basic-info
      +span-columns(4)
      padding-left: 12px

      img
        height: 80px
        margin-left: 12px
        float: right

      .name
        float: none
        font-weight: bold
        font-size: 18px

        .year
          font-weight: normal
          font-size: 12px

    .triggers
      +span-columns(8)
      padding: 1px 0

      .trigger-label
        display: inline-block
        margin-left: 4px
        margin-bottom: 2px
        font-size: 18px

      .no-triggers-message
        @extend %label
        margin-top: 20px

      .trigger-count
        @extend .trigger-label
        font-weight: bold
        background-color: transparent !important
        border-color: $dark-purple

