<h2>Titles</h2>

<table>
  <tbody>
    {{#each}}
      <tr>
        <td><img {{bindAttr src="poster_url"}}></img></td>
        <td>{{name}} ({{year}})</td>
      </tr>
    {{/each}}
  </tbody>
</table>